
# Flutter
.build/
.dart_tool/
.packages
.pub-cache/
.flutter-plugins
.flutter-plugins-dependencies
generated_plugin_registrant.dart
.idea/
*.iml

# Android
android/.gradle/
android/local.properties

# iOS
ios/Pods/
ios/Flutter/Flutter.framework/
ios/Flutter/Flutter.podspec

# VS Code
.vscode/

# Mac
.DS_Store
